<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="medicine">
            <h2><span jhiTranslate="hospitalApp.medicine.detail.title">Medicine</span> {{ medicine.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hospitalApp.medicine.medicineName">Medicine Name</span></dt>
                <dd>
                    <span>{{ medicine.medicineName }}</span>
                </dd>
                <dt><span jhiTranslate="hospitalApp.medicine.medicineDescription">Medicine Description</span></dt>
                <dd>
                    <span>{{ medicine.medicineDescription }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/medicine', medicine.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
